<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateActiveOrder</servlet-name>
        <servlet-class>updateActiveOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrder</servlet-name>
        <servlet-class>UpdateOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateActiveOrder</servlet-name>
        <url-pattern>/updateActiveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrder</servlet-name>
        <url-pattern>/UpdateOrder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Warehouse</servlet-name>
        <servlet-class>Warehouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Warehouse</servlet-name>
        <url-pattern>/Warehouse</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>WarehouseOrder</servlet-name>
        <servlet-class>WarehouseOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WarehouseOrder</servlet-name>
        <url-pattern>/WarehouseOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>executeQuery</servlet-name>
        <servlet-class>executeQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>executeQuery</servlet-name>
        <url-pattern>/executeQuery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertPom</servlet-name>
        <servlet-class>InsertPom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertPom</servlet-name>
        <url-pattern>/InsertPom</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
